html,
body,
#root {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

@media (min-width: 1025px) {
	body {
		overflow-y: hidden;
	}
}
